In [1]:
import pandas as pd

In [2]:
#two main data types
series = pd.Series(["BMW", "Mercedes", "Toyota"])

In [3]:
series

0         BMW
1    Mercedes
2      Toyota
dtype: object

In [4]:
#series are ONE DIMENSIONAL

In [5]:
colors = pd.Series(["Red", "Black", "White"])
colors

0      Red
1    Black
2    White
dtype: object

In [6]:
#dataframe is TWO dimensional - far more common
car_data = pd.DataFrame({"Car make" : series, "Colors" : colors})

In [7]:
car_data

   Car make Colors
0       BMW    Red
1  Mercedes  Black
2    Toyota  White

In [8]:
#import data